<a href="https://colab.research.google.com/github/glenda2912/Tous12/blob/main/Feminicides_(exam_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**1.Intro**

In [56]:
# Libraries

import numpy as np
import pandas as pd
import plotly.express as px

##**2.Import**

In [27]:
# Save the path o the file 

p= '/content/fm.xlsx'

#Read the file 
d = pd.read_excel(p)


#Check
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Años    25 non-null     int64
 1   País    25 non-null     object
 2   Valor   25 non-null     int64
dtypes: int64(2), object(1)
memory usage: 728.0+ bytes

In [28]:
#Check the fist entries
d.head()

   Años      País  Valor
0  2017    Brasil   1582
1  2017      Perú    116
2  2017  Honduras    235
3  2017    México    742
4  2018    México    893

In [29]:
#Check the last entries 
d.tail()

    Años      País  Valor
20  2021    Brasil   1900
21  2021  Colombia    210
22  2021  Honduras    234
23  2021    México   1015
24  2021      Perú    136

# **3.Cleaning**

## Column Names

In [30]:
# Change Time for Year 
d.rename(columns = {"Años": "Year"}, inplace = True)

# Change County Name
d.rename(columns = {"País": "Country"}, inplace = True)

#Change Value
d.rename(columns = {"Valor": "Hom"}, inplace = True)

#Check
d.head()

   Year   Country   Hom
0  2017    Brasil  1582
1  2017      Perú   116
2  2017  Honduras   235
3  2017    México   742
4  2018    México   893

## Delete columns

**My data base is so short so i'm not going to delete the column**

## A few more things

In [31]:
# (Optional) Duplicate the dataframe

pp = d

In [32]:
# Duplicate year variable 
pp["Year_str"] = pp["Year"].astype(str)

#Check
pp.head()

   Year   Country   Hom Year_str
0  2017    Brasil  1582     2017
1  2017      Perú   116     2017
2  2017  Honduras   235     2017
3  2017    México   742     2017
4  2018    México   893     2018

# **4.Indexing**

In [33]:
# Create an index
idx = pd.MultiIndex.from_product([pp['Country'].unique(),
                                  range(pp.Year.min(),pp.Year.max()+1)],
                                  names= ['Country', 'Year'])

#Reindex the dataframe 
pp = pp.set_index(['Year','Country'])

#Check 
pp.head()

                Hom Year_str
Year Country
2017 Brasil    1582     2017
     Perú       116     2017
     Honduras   235     2017
     México     742     2017
2018 México     893     2018

# **5.Basic Statistics**

In [34]:
# By variable 
pp[['Hom']].describe()

               Hom
count    25.000000
mean    657.680000
std     654.890431
min     116.000000
25%     187.000000
50%     234.000000
75%     948.000000
max    2048.000000

In [35]:
# By variable and by year 
pp[['Hom']].groupby('Year').describe()

       Hom
     count   mean         std    min    25%    50%     75%     max
Year
2017   5.0  576.6  612.963131  116.0  208.0  235.0   742.0  1582.0
2018   5.0  671.2  733.586873  150.0  218.0  228.0   893.0  1867.0
2019   5.0  722.6  808.831441  148.0  177.0  295.0   945.0  2048.0
2020   5.0  619.0  639.410275  137.0  187.0  227.0   948.0  1596.0
2021   5.0  699.0  760.685875  136.0  210.0  234.0  1015.0  1900.0

In [36]:
# By variable and by country
pp[['Hom']].groupby('Country').describe()

           Hom
         count    mean         std     min     25%     50%     75%     max
Country
Brasil     5.0  1798.6  203.176770  1582.0  1596.0  1867.0  1900.0  2048.0
Colombia   5.0   202.0   20.161845   177.0   187.0   208.0   210.0   228.0
Honduras   5.0   241.8   30.507376   218.0   227.0   234.0   235.0   295.0
México     5.0   908.6  102.709785   742.0   893.0   945.0   948.0  1015.0
Perú       5.0   137.4   13.520355   116.0   136.0   137.0   148.0   150.0

# **6. Filters and pivots**

## Simple Filters

In [37]:
# Filter by country name and save it 
brasil = pp.filter(like= 'Brasil', axis=0)
print(brasil)

               Hom Year_str
Year Country
2017 Brasil   1582     2017
2018 Brasil   1867     2018
2019 Brasil   2048     2019
2020 Brasil   1596     2020
2021 Brasil   1900     2021

In [38]:
# Filter by year name and save it 
y20 = pp.filter(like= '2019', axis=0)
print(y20)

                Hom Year_str
Year Country
2019 Brasil    2048     2019
     México     945     2019
     Perú       148     2019
     Honduras   295     2019
     Colombia   177     2019

## Simple Pivots

In [50]:
# Creating is dataframe with the tie-serie of hom 
ts_Hom = d.pivot(index   = 'Year',
                 columns = 'Country',
                 values  = 'Hom')
print(ts_Hom)

Country  Brasil  Colombia  Honduras  México  Perú
Year
2017       1582       208       235     742   116
2018       1867       228       218     893   150
2019       2048       177       295     945   148
2020       1596       187       227     948   137
2021       1900       210       234    1015   136

# **7. Basic Line/Bar Grap**

In [57]:
# Line Graph the Life Expectancy of Brasil
fig = px.line(brasil, x = 'Year_str', y='Hom')
fig.show()