<a href="https://colab.research.google.com/github/glenda2912/Tous12/blob/main/Feminicides_(exam_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**1.Intro**

In [ ]:
# Libraries

import numpy as np
import pandas as pd

##**2.Import**

In [ ]:
# Save the path o the file 

p= '/content/fm.xlsx'

#Read the file 
d = pd.read_excel(p)


#Check
d.info()

In [14]:
#Check the fist entries
d.head()

   Year   Country  Value
0  2017    Brasil   1582
1  2017      Perú    116
2  2017  Honduras    235
3  2017    México    742
4  2018    México    893

In [9]:
#Check the last entries 
d.tail()

    Year   Country  Value
20  2021    Brasil   1900
21  2021  Colombia    210
22  2021  Honduras    234
23  2021    México   1015
24  2021      Perú    136

# **3.Cleaning**

## Column Names

In [15]:
# Change Time for Year 
d.rename(columns = {"Años": "Year"}, inplace = True)

# Change County Name
d.rename(columns = {"País": "Country"}, inplace = True)

#Change Value
d.rename(columns = {"Value": "Hom"}, inplace = True)

#Check
d.head()

   Year   Country   Hom
0  2017    Brasil  1582
1  2017      Perú   116
2  2017  Honduras   235
3  2017    México   742
4  2018    México   893

## Delete columns

**My data base is so short so i'm not going to delete the column**

## A few more things

In [19]:
# (Optional) Duplicate the dataframe

pp = d

In [23]:
# Duplicate year variable 
pp["Year_str"] = pp["Year"].astype(str)

#Check
pp.head()

   Year   Country   Hom Year_str
0  2017    Brasil  1582     2017
1  2017      Perú   116     2017
2  2017  Honduras   235     2017
3  2017    México   742     2017
4  2018    México   893     2018